<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings><add name="cbpmqdbEntities" connectionString="metadata=res://*/CBPMQDB.csdl|res://*/CBPMQDB.ssdl|res://*/CBPMQDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IFICNWKSQL2\MSSQLDEV;initial catalog=cbpmqdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="cbpmqdbEntities1" connectionString="metadata=res://*/CBPMQDBModel.csdl|res://*/CBPMQDBModel.ssdl|res://*/CBPMQDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IFICNWKSQL2\MSSQLDEV;initial catalog=cbpmqdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--<add key="singleBondToCheck" value="16C000WSE" />-->
    <add key="singleBondToCheck" value="" />
    <add key="smtpServer" value="mailrelay.IFIC.local" />
    <add key="numDays" value="30" />
    <add key="creds" value="jdougherty@ific.com|Bu11$h1t" />
    <add key="simulateOnly" value="true" />
    <add key="toEmailsO" value="jdougherty@ific.com,llane@ific.com,vnelson@ific.com,tmurphy@ific.com" />
    <add key="toEmails" value="jdougherty@ific.com" />
    <add key="fromEmail" value="CBMS@ific.com" />
  </appSettings>
</configuration>